{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="row">
    <h1>Ask questions - get answers!</h1>
    </div>
    <div class="row">
        <h3>Asked questions:</h3>
        {% for question in questions %}
            <ul class="list-unstyled">
                <li><h4>Question: {{ question.question }}</h4></li>
                {% if question.details %}
                <li> Detatils: {{ question.details }} </li>
                {% endif %}
                <hr>
            </ul>
        {% endfor %}
    </div>

</div>
{% endblock %}