{% block question %}
<div class="panel panel-default">
    <div class="panel-heading"><b> Question: {{ question.question }} <span class="badge">Answers: {{ question.answers|count }}</span> </b></div>
    <div class="panel-body">
    {% if question.details %}
        <p class="list-group-item-text">
            Detatils: {{ question.details }}
        </p>
    {% endif %}
        <p class="text-right help-block">
            Posted by: {{ question.get_user() }}
        </p>
    </div>
    <p class="text-center">
        <button class="btn btn-default " type="button" data-toggle="collapse" data-target="#answers" aria-expanded="false" aria-controls="collapseExample">
            Show answers
        </button>
    </p>
    <div class="panel-footer" >
        {% if question.answers %}
        <div class="collapse" id="answers">
        <p><p>Answers:</p></p>
            <ul class="list-group">
                {% for answer in question.answers %}
                    <li class="list-group-item">
                        <span class="badge">Votes: {{ answer.likes }}</span>
                        {{ answer.answer }}
                        <p class="text-right help-block">
                            Posted by: {{ answer.get_user() }}
                        </p>
                    </li>

                    {% if g.user.is_authenticated() %}
                        <a href="/like/{{ answer.id }}"><button class="btn btn-default btn-group-justified"> <span class="glyphicon glyphicon-thumbs-up "></span></button></a>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if g.user.is_authenticated() %}
        <a href="answer/{{ question.id }}">
            <button class="btn btn-default btn-group-justified">Post answer</button>
        </a>
        {% endif %}
    </div>
</div>

{% endblock %}