{% block question %}
<div class="panel panel-default">
    <div class="panel-heading"><b> Question: {{ question.question }} </b></div>
    <div class="panel-body">
    {% if question.details %}
        <p class="list-group-item-text">
            Detatils: {{ question.details }}
        </p>
    {% endif %}
    </div>
    <div class="panel-footer">
        {% if question.answers %}
        <p>Answers:</p>

            <ul class="list-group">
                {% for answer in question.answers %}
                    <li class="list-group-item">{{ answer.answer }}</li>
                {% endfor %}
            </ul>

        {% endif %}
        {% if g.user.is_authenticated() %}
        <a href="answer/{{ question.id }}">
            <button class="btn btn-default btn-group-justified">Post answer</button>
        </a>
        {% endif %}
    </div>
</div>

{% endblock %}